/* html, body {
    height:100% !important;
    max-width: 100%;
    overflow-x: hidden;

} */
/* .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
} */

b{
    color: #ff5a00 !important;
}

.borderless{
    border: none !important;
}

/* .rotated-margin{

} */

li.list-group-item::before {
    content: counter(section, circle) !important;
}

.date-text{
    color: #ff5a00 !important;
    /* color: grey !important; */
}

@font-face {
    font-family: sectionText;
    src: url(../fonts/montserrat/Montserrat-Black.otf);
}
    
@font-face {
    font-family: subMainText;
    src: url(../fonts/Fredoka.ttf);
}

    .main-text {
        font-family: sectionText;
    }
    
.section-text{
    font-family: subMainText;
}

    .fit {
        font-size: 1.5vmin;
    }
    
    .svg-white{
        filter: invert(100%) sepia(0%) hue-rotate(23deg) brightness(118%) contrast(118%);
    }
    
    body{
        font-family: 'Helvetica', 'Arial', sans-serif;
        position: relative;
    }
    .nav-link.active{
        background-color: transparent !important;
        text-decoration: underline!important;
        text-underline-offset: 0.3em;
    }
    
    section {
         /* padding: 60px 0; 
         position: relative; */
    
         position: relative; 
         /* margin-top: 5%; 
         margin-bottom: 5%; */
         padding-top: 3%;
         padding-bottom: 3%;
    }
    
    .custom-background-grey{
        /* z-index: -2 !important; */
        background-color: #303736 !important;
    }
    .custom-background-blue{
        /* z-index: -2 !important; */
        background-color: #2c4b47 !important;
    }
    .orange-text{
        color: #ff5a00 !important;
    }
    .white-text{
        color: #ffffff !important;
    }
    .orange-outline{
        border: 2px solid #ff5a00 !important;
        cursor: pointer !important;
    }
    
    #home-gif h1 {
        margin: 0;
        font-weight: 700;
        color: #fff;
        text-shadow: 4px 4px #00000063;
    }
    #home-gif h2 {
        margin: 0;
        font-weight: 500;
        color: #ff5a00;
        text-shadow: 3px 3px #00000063;
    }
    #home-gif{
        z-index: -2 !important;
        position: relative; 
        text-align: center; 
        min-height: 100vh; 
        width: 100%; 
        background-color: rgba(199, 199, 199, 0.297); 
        background-image: url(../assets/project-media/SPACE_PARTITIONING.gif); 
        background-size: cover;   
        background-position: center;
        /* filter: blur(10px); */
    }
    
    .project-display{
        color: white;
    }
    .hide-project-info{
        visibility: hidden;
    }
    
    @keyframes fadein {
        from { transform: scale(1.00); }
        to   { transform: scale(1.1); }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { transform: scale(1.00); }
        to   { transform: scale(1.1); }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { transform: scale(1.00); }
        to   { transform: scale(1.1); }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { transform: scale(1.00); }
        to   { transform: scale(1.1); }
    }
    
    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { transform: scale(1.00); }
        to   { transform: scale(1.1); }
    }
    
    .project-display:hover{
        transform: scale(1.1);
        -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.3s; /* Firefox < 16 */
         -ms-animation: fadein 0.3s; /* Internet Explorer */
          -o-animation: fadein 0.3s; /* Opera < 12.1 */
             animation: fadein 0.3s;
    }
    .project-display:hover > .hide-project-info{
        visibility: visible;
    }
    
    .contact-link{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    }
    
    .hyperlink-no-style{
        color: white;
        text-decoration: none;
    }

    .contact-hyperlink{
        color: white;
        text-decoration: none;
    }
    .contact-hyperlink:hover{
        color: #ff5a00;
        /* text-decoration: underline; */
    }
    .contact-img-hyperlink{
        filter: invert(100%) sepia(0%) hue-rotate(23deg) brightness(118%) contrast(118%);
    }
    .contact-img-hyperlink:hover{
        filter: invert(45%) sepia(79%) saturate(3247%) hue-rotate(358deg) brightness(97%) contrast(111%);
    }
    
    .featurette {
        font-size: 0.8rem;
        line-height: 1.5;
        color: #555;
        text-align: center;
    }
    .featurette-icon {
        display: block;
        width: 100%;
        color: #2962ff;
        font-size: 3rem;
        text-align: center;
    } 
    i.logo {
        width: 0.75em;
        height: 0.75em;
        font-size: .75em !important;
        padding: 0.75em;
        display: inline-block;
    } 
    i.logo-csharp {
        background-size: cover;
        background-image: url(../svg/unity.svg);
        filter: invert(46%) sepia(56%) saturate(1495%) hue-rotate(5deg) brightness(111%) contrast(102%);
    }
    
    
    .contact-text{
        padding-left: 5vh;
        padding-right: 5vh;
    }
    @media only screen and (max-width: 507px) {
        .contact-text{
          margin-top: 1vh;
        }
      }

      /* @media only screen and (min-width: 415px) and (max-width: 476px) {
        .weird-contact-text{
            background-color: red;
        }
      } */

    /* #home-gif:before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    } */
    
    /* .card-title{
        
    } */
    
    /* .skills{
        z-index: 50;
        padding: 60px 0;
        overflow: hidden;
        position: relative;
    }
    .skills::before{
        content: "";
        z-index: 50;
        background: rgb(85, 70, 59);
        position: absolute;
        bottom: 90px;
        top: 30px;
        left: 0;
        right: 0;
        transform: skewY(-2deg);
    } */