* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  vertical-align: baseline;
  box-sizing: border-box;

}

@font-face {
  font-family: "bebas";
  src: url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.otf");
}
html *
{
   font-family: montserrat-bold;
}

.hide-overflow{
  overflow: hidden;
  overflow-y: hidden;
}

/* .backGround{
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(assets/background/25410.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

html{
  /* background: url(assets/background//bg_white.jpg); */
  /* background-color: #303032; */
  background-repeat: repeat;
}

.center {
    text-align: center;
    color: white;
  }

  .intro-canvas{
    z-index: -1;
  }

  .nav-links > a.active 
  {
    background-color: #303030;
  }

.nav {
  height: 55px;
  width: 100%;
  background-color: #4d4d4d;
  z-index: 2;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  padding-right: 10px;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(45, 45, 45, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(29vh - 50px);
    overflow-y: auto;
  }
}

/* Cards */

.showcase-section{
  width: 100%;
  height: 100%;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
  font-size: 12px;
  font-weight: bold;
  color:black;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .card-git{
  background-color: red;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.card .thumbFrame{
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}

/* Footer */
@font-face {
  font-family: 'icomoon';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'), url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: 10px;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  transition: all 400ms;
  background-color: #a6a6a6;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 20px;
  line-height: 39px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}
.social-networks .icon-linkedin:after {
  content: "\eac9";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: #0077b5;
}

.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #3b5998;
}

.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
  background: #00b0ed;
}
.social-networks .icon-github:after {
  content: "\eab1";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
  background: #4183c4;
}
.social-networks .icon-instagram:after {
  content: "\e604";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
  background: #3f729b;
}
.social-networks .icon-vimeo:hover:before, .social-networks .icon-vimeo:focus:before {
  background: #1ab7ea;
}
.social-networks .icon-twitch:hover:before, .social-networks .icon-twitch:focus:before {
  background: #6441a5;
}
.social-networks .icon-youtube:after {
  content: "\e619";
}
.social-networks .icon-youtube:hover:before, .social-networks .icon-youtube:focus:before {
  background: #cc2127;
}

/* ---------- NORFEX ---------- */
.norfex-trailer{

  position: absolute;
  background-color: red;
  width: 100%; 
  height: 20em; 
  z-index: -5;
  overflow: hidden;
  line-height : 0;

}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cool-button {
  background-color: black;
  color: white;
  border: 2px solid rgb(255, 255, 255); /* Green */
  cursor:pointer;
  padding: calc(0.7vh + 0.2vw);
  font-size: calc(0.5vh + 0.5vw);
  margin-right: 10px;
}
.cool-button:hover
{
background-image:none;
background-color: rgb(66, 116, 145);
}